{
  "guid": "<GUID>",
  "type": "Complex",
  "controller": "<%= namespace %>.controller.<%= controllerName %>",
  "title": "<%= title %>",
  "horizontalScrolling": true,
  "verticalScrolling": true,
  "icon": "sap-icon://accept",
  "state": "None",
  "contentWidth": "<%= width %>",
  "contentHeight": "<%= height %>",
  "draggable": <%= draggable %>,
  "resizable": <%= resizable %>,
  "showHeader": true,
  "header": {
    "groups": [
      {
        "guid": "<GUID>",
        "ctrlType": "b1.sdk.Group",
        "text": "",
        "visible": true,
        "items": [
          {
            "guid": "<GUID>",
            "ctrlType": "b1.sdk.StaticText",
            "label": "Company Name",
            "text": "{@@data>/companyName}"
          },
          {
            "guid": "<GUID>",
            "ctrlType": "b1.sdk.StaticText",
            "label": "Company Version",
            "text": "{@@data>/companyVersion}"
            }
        ]
      },
      {
        "guid": "<GUID>",
        "ctrlType": "b1.sdk.Group",
        "text": "",
        "visible": true,
        "items": [
          {
            "guid": "<GUID>",
            "ctrlType": "b1.sdk.StaticText",
            "label": "User Code",
            "text": "{@@data>/userCode}"
          },
          {
            "guid": "<GUID>",
            "ctrlType": "b1.sdk.StaticText",
            "label": "User Name",
            "text": "{@@data>/userName}"
          }
        ]
      }
    ]
  },
  "tabs": [
    {
      "guid": "<GUID>",
      "ctrlType": "b1.sdk.Section",
      "text": "General",
      "subSections": [
        {
          "guid": "<GUID>",
          "ctrlType": "b1.sdk.SubSection",
          "groups": [
            {
              "guid": "<GUID>",
              "ctrlType": "b1.sdk.Group",
              "items": [
                {
                  "guid": "<GUID>",
                  "ctrlType": "b1.sdk.StaticText",
                  "label": "Description",
                  "text": "This dialog serves as a sample created on top of the built-in template for WebClient. You can customize it by adding more UI controls and interactive logic."
                },
                {
                  "guid": "<GUID>",
                  "ctrlType": "b1.sdk.CheckBox",
                  "label": "My CheckBox",
                  "selected": "{@@data>/myCheckBox}",
                  "tooltip": "It is a test",
                  "editable": false,
                  "hideLabel": false,
                  "visible": true
                },
                {
                  "guid": "<GUID>",
                  "ctrlType": "b1.sdk.ComboBox",
                  "label": "My ComboBox",
                  "enabled": true,
                  "editable": true,
                  "visible": true,
                  "tooltip": "comboBoxTooltip",
                  "selectedKey": "Y",
                  "items": [
                    {
                      "key": "Y",
                      "text": "Yes",
                      "additionalText": "YesAdditionalText",
                      "enabled": true
                    },
                    {
                      "key": "N",
                      "text": "No",
                      "additionalText": "NoAdditionalText",
                      "enabled": true
                    }
                  ]
                },
                {
                  "guid": "<GUID>",
                  "label": "My DatePicker",
                  "ctrlType": "b1.sdk.DatePicker",
                  "editable": true,
                  "value": "{@@data>/myDate}",
                  "visible": true,
                  "valueState": "None",
                  "valueStateText": "For None"
                },
                {
                  "guid": "<GUID>",
                  "ctrlType": "b1.sdk.ObjectStatus",
                  "label": "My Document Status",
                  "text": "{@@data>/documentStatus}",
                  "active": true,
                  "visible": true,
                  "tooltip": "Indicate Current Document Status",
                  "icon": "sap-icon://accept"
                },
                {
                  "guid": "<GUID>",
                  "label": "My TextArea",
                  "ctrlType": "b1.sdk.TextArea",
                  "mandatory": true,
                  "value": "{@@data>/myTextArea}"
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "guid": "<GUID>",
      "ctrlType": "b1.sdk.Section",
      "text": "Grid Section",
      "subSections": [
        {
          "guid": "<GUID>",
          "ctrlType": "b1.sdk.SubSection",
          "text": "Business Partners",
          "groups": [
            {
              "guid": "<GUID>",
              "ctrlType": "b1.sdk.Group",
              "width": 12,
              "items": [
                {
                  "guid": "<GUID>",
                  "ctrlType": "b1.sdk.Grid",
                  "title": "Top 10 Business Partners retrieved from Service Layer",
                  "rowsData": "{@@bpData>/value}",
                  "width": "100%",
                  "columns": [
                    {
                      "guid": "<GUID>",
                      "ctrlType": "b1.sdk.Column",
                      "text": "CardCode",
                      "template": {
                        "guid": "<GUID>",
                        "ctrlType": "b1.sdk.StaticText",
                        "text": "{@@bpData>CardCode}"
                      }
                    },
                    {
                      "guid": "<GUID>",
                      "ctrlType": "b1.sdk.Column",
                      "text": "CardName",
                      "template": {
                        "guid": "<GUID>",
                        "ctrlType": "b1.sdk.StaticText",
                        "text": "{@@bpData>CardName}"
                      }
                    },
                    {
                      "guid": "<GUID>",
                      "ctrlType": "b1.sdk.Column",
                      "text": "CardType",
                      "template": {
                        "guid": "<GUID>",
                        "ctrlType": "b1.sdk.StaticText",
                        "text": "{@@bpData>CardType}"
                      }
                    },
                    {
                      "guid": "<GUID>",
                      "ctrlType": "b1.sdk.Column",
                      "text": "GroupCode",
                      "template": {
                        "guid": "<GUID>",
                        "ctrlType": "b1.sdk.StaticText",
                        "text": "{@@bpData>GroupCode}"
                      }
                    },
                    {
                      "guid": "<GUID>",
                      "ctrlType": "b1.sdk.Column",
                      "text": "Address",
                      "template": {
                        "guid": "<GUID>",
                        "ctrlType": "b1.sdk.StaticText",
                        "text": "{@@bpData>Address}"
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  "footer": [
    {
      "guid": "<GUID>",
      "ctrlType": "b1.sdk.Button",
      "press": {
        "procName": "onClose"
      },
      "text": "Close",
      "buttonType": "Emphasized"
    }
  ]
}