buttonText=Get Company Information
sampleDialogText=This dialog serves as a sample created using the VS Code Extension Tool for WebClient. To get company information, please press the button provided below. Furthermore, you can have more customization by adding UI controls and interactive logic, as detailed in the online help documentation.
