{
	"controller": "<%= namespace %>.controller.<%= viewName %>",
	"overlay": {
		"before": [
			{
				"guid": "<Add existing control's stable ID>",
				"items": [
					{
						"guid": "mApT49EtHH3qtUFeH3GGS3",
						"ctrlType": "b1.sdk.Button",
						"text": "{@@i18n>buttonText}",
						"icon": "sap-icon://customize",
						"enabled": true,
						"visible": true,
						"buttonType": "Emphasized",
						"tooltip": "A button created by WebClient UI API",
						"press": {
							"procName": "onButtonClick"
						}
					}
				]
			}				
		]
	}
}
